{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Student Dashboard</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
{% block body %}
    <main>
        <div class="body-content">
            <div class="name">
                {% if user.is_authenticated %}
                <h2> Hello {{user.first_name}}</h2>
                {% endif %}
            </div>
            <div class="actual-content">
                <div class="announcements">
                    <h2>Announcements</h2>
                </div>
                
                <div class="courses">
                    <h2>Courses</h2>
                    <ul class="course-list">
                        <li><button>dsa</button></li>
                        <li><button>dsa</button></li>
                        <li><button>dsa</button></li>
                        <li><button>dsa</button></li>
                        <li><button>dsa</button></li>
                        <li><button>dsa</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
