{% extends "base-login-register.html" %}
{% load static %}

{% block form-action %}
<form action="login" method="POST" novalidate>
{% endblock %}

{% block fields %}
<img class="avator" src="{% static 'avator.svg' %}" />
<h3 class="greeting">Howdy, Welcome back</h3>
<!-- <div class="input-div" one>
  <div class="i">
    <i class="fas fa-user"></i>
  </div>
  <div>
    <input name='username' class="input" type="text" placeholder="Username" />
  </div>
</div>
<div class="input-div" two>
  <div class="i">
    <i class="fas fa-lock"></i>
  </div>
  <div>
    <input name='password' class="input" type="password" placeholder="Password"/>
  </div>
</div> -->
{% for field in form %}
<div class="input-div">
  <div class="input">
    <div class="input-fields">
      {{ field.label_tag }} {{ field }}
    </div>
    <p>
      {% if field.errors %}
    <ul class="errorlist">
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    </p>
  </div>
</div>
{% endfor %}
<a class="login-links"  href="{% url 'password-reset' %}">Forgot password ?</a>
<a class="login-links" href="{% url 'register' %}">New User? Register here</a>
<button type="submit" class="btn btn-primary mb-2">Login</button>
{% endblock %}
