{% extends "base-login-register.html" %}
{% load static %}

{% block form-action %}
<form action="register" method="POST" novalidate>
{% endblock %}

{% block fields %}
<img class="avator" src="{% static 'avator.svg' %}" />
<h2>Howdy, Join us</h2>

{% for field in form %}
  <div class="input-div">
    <div class="input">
      <div class="input-fields">
        {{ field.label_tag }} {{ field }}
      </div>
      <div class="field-line"></div>
      <p>
        {% if field.errors %}
          <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    </div>
  </div>
{% endfor %}


<p style="color: white;">
    Already have an account?<a class="login-links" href="{% url 'login' %}">Login</a>
</p>
<button type="submit" class="btn btn-primary mb-2">Register</button>
{% endblock %}