<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- <link rel="stylesheet" type="text/css" href="style-register.css"> -->
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First_name"><br>
        <input type="text" name="last_name" placeholder="Last_name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm password"><br>
        <a href="{% url 'login' %}">Go back to login</a><br>
        <a href="{% url 'login' %}">
            <input type="submit" class="btn" value="Register" />
        </a>    
        <div>
            {% for message in messages  %}
            <h4>{{ message }}</h4>
            {% endfor %}
        </div>
    </form>
</body>
</html> 