body {
  background: linear-gradient(to right, #4ca2cd, #67B26F);
  font-family: 'Lato', sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  display: flex;
  max-width: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.avator {
  width: 100px;
  flex: 1 0 auto;
}

form {
  width: 530px;
}

form .greeting {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 15px 0;
  color: #333;
}


.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: transparent;
  padding: 10px 10px 10px 10px;
  font-size: 1.2rem;
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-fields {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-fields > label {
  padding: 5px 5px;
  flex: 1;
}

.input-fields > input {
  flex: 2;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid whitesmoke;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.errorlist li {
  list-style-type: none;
  color: rgb(192, 70, 70);
}

.login-links {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: blueviolet;
}

.btn {
  width: 60%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #5557ec, #3134db, #1e2097);
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}
/* @keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn:hover {
  animation: rotate 0.5s ease-in-out forwards;
} */

footer {
  width: 100%;
  margin-top: 15px;
  background-color: #32323267;
  color: #f2f2f2;
  height: 8vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
}
