body {
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ccc;

}

.header-logo {
  margin-right: 10px;
}

.header-logo img {
  /* Customize width, height, and styling as needed */
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.header-title {
  font-size: 1.8rem;
  padding-left: 400px;
}

nav {
  display: flex; /* Remove inline display */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block; /* Make list items inline */
  margin-right: 15px;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 10px 15px; /* Add some padding for spacing*/
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s; /* Smooth transition for color change */
}

nav li a:hover {
  color: rgb(198, 213, 30);
}
input[type="checkbox"]{
  visibility: hidden;
  display: none;
}
.check{
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .check{
  background: #fff;
  box-shadow: 0 0 0 1200px #092c3e;
}
.check:before{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.4s;
}
input[type="checkbox"]:checked ~ .check:before
{
 transform: translateX(-50px);
}
.check:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #092c3e;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.4s;
  transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check:after
{
 transform: translateX(0px);
}


main {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.body-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
  padding: 20px;
}

.actual-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.announcements, .courses {
  flex: 1;
  background-color: transparent;
  padding: 20px;
}

.announcements h2, .courses h2 {
  margin-bottom: 10px;
  text-align: center;
}

.course-list {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.course-list li {
  margin-bottom: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-list li button{
  width: 100%;
  height: 50px;
  border-radius: 15px;

}
.course-list li button:hover{
  transform: scale(1.02);
}


/* Customize colors, fonts, layout, and styling as desired */
