body {
  background: linear-gradient(to right, #4ca2cd, #67B26F);
  font-family: 'Lato', sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  display: flex;
  max-width: 100%;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.avator {
  width: 100px;
  flex: 1 0 auto;
}

form {
  width: 360px;
}

form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 15px 0;
  color: #333;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 2% 98%;
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.input-div:after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #5557ec;
  transition: 0.3s;
}

.input-div:after {
  right: 50%;
}
.input-div::before {
  left: 50%;
}

.input-div.focus .i i {
  color: #5557ec;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus:after,
.input-div.focus:before {
  width: 50%;
}

.input-div.one {
  margin-top: 0;
}

.input-div.two {
  margin-top: 4px;
}

.i i {
  color: #d9d9d9;
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #f2f2f2;
  font-size: 18px;
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  /* padding: 0.5rem 0.7rem; */
  font-size: 1.2rem;
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #5557ec;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #5557ec, #3134db, #1e2097);
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

footer {
  width: 100%;
  margin-top: 15px;
  background-color: #32323267;
  color: #f2f2f2;
  height: 8vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
}
/* 
@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
  body {
    background-color: rgb(86, 153, 216);
  }
  form h2,
  .input-div > div h5,
  a {
    color: snow;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
  body {
    background-color: blueviolet;
  }
  form h2,
  .input-div > div h5,
  a {
    color: snow;
  }
}

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .login-container {
    justify-content: center;
  }
  footer {
    width: auto;
    height: auto;
  }
  body {
    background-color: black;
  }
  form h2,
  .input-div > div h5,
  a {
    color: snow;
  }
} */
