body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  
  }
  
  .header-logo {
    margin-right: 10px;
  }
  
  .header-logo img {
    /* Customize width, height, and styling as needed */
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
  
  .header-title {
    font-size: 1.8rem;
    padding-left: 400px;
  }
  
  nav {
    display: flex; /* Remove inline display */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block; /* Make list items inline */
    margin-right: 15px;
  }
  
  nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px; /* Add some padding for spacing */
  }
  
  nav li a:hover {
    color: #007bff;
  }
  table.table {
      width: 100%; /* Make the table responsive */
      border-collapse: collapse; /* Remove spacing between cells */
      border: 1px solid #ddd; /* Add a thin border */
    }
    
    table.table thead {
      background-color: #f5f5f5; /* Add a light background to the header */
    }
    
    table.table th,
    table.table td {
      padding: 8px; /* Add some padding to cells */
      border: 1px solid #ddd; /* Add a thin border to cells */
    }
    
    table.table th {
      text-align: left; /* Align header text to the left */
    }
    
    table.table tbody tr:nth-child(odd) {
      background-color: #f9f9f9; /* Add a light background to odd rows */
    }
    
    /* Optional: Style specific elements */
    
    table.table th.handle {
      text-align: center; /* Center text in the "Handle" column */
    }
    
    table.table tr.bird {
      background-color: #eee; /* Give Larry the Bird a different background */
    } 